MYSQL_ROOT_PASSWORD=change_me_mysql_root_password
MYSQL_DATABASE=jixianda
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=change_me_rabbitmq_password
NACOS_MYSQL_DATABASE=nacos_config
NACOS_MYSQL_USER=root
NACOS_MYSQL_PASSWORD=change_me_nacos_mysql_password
